[submodule "fabric-samples"]
	path = fabric-samples
	url = https://github.com/hyperledger/fabric-samples.git
[submodule "fabric-sdk-py"]
	path = fabric-sdk-py
	url = https://github.com/vishudverma/fabric-sdk-py.git
